aiohttp==3.8.4
aiosignal==1.3.1
async-timeout==4.0.2
attrs==23.1.0
certifi==2023.5.7
charset-normalizer==3.2.0
frozenlist==1.3.3
idna==3.4
multidict==6.0.4
numpy==1.24.4
oauthlib==3.2.2
pytz==2023.3
pyzmq==25.1.0
requests==2.31.0
urllib3==2.0.3
wolframclient==1.1.7
wolframwebengine==1.0.3
yarl==1.9.2
